/*
Author: Debarun Mitra
Technology used: HTML, CSS, JavaScript, JQuery, Bootstrap
objective: Create a responsive game using HTML canvas, CSS, JavaScript, jQuery,Bootstrap
*/
.pos-center
{
  margin-left: 10%;
}
#cid
{
  margin-left: -30%;
}
