/* GoblinGo Game
Author: Aadesh Nichite
It is a simple game application */

:root
{
    --color-1:#00520D;
}
body 
 { 
     padding: 0%;
     margin: 0%;
     font-family:'Times New Roman', Times, serif;
     background-color: var(--color-1); 
 }
  .container-fluid
{
    background-color: var(--color-1);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    margin-left: 0 !important; 
    margin-right: 0 !important;
} 
.site-btn1:hover
{
    color: burlywood !important;
}
.site-content
{
    background-position: center;
    /* margin-left: 25%;
    margin-top: 3%; */
    height: 100%;
    background-image: url("/images/playGround.png");
    background-repeat: no-repeat;
    background: cover;
}
.row.upper
{
   
    padding: 20;
    padding: 0;
    height: 30%; 
    justify-content: center;
  

}
.row.below
{
    margin: 0;
    padding: 0;
    height: 33%;
}
.row.middle
{
    margin: 0;
    padding: 0;
    height: 33%;
}
